html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.title_image {
    width: 200px;
    height: 130px;
    object-fit: cover;
}

.avatar, .no-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
}

.avatar {
    object-fit: cover;
}

.no-avatar {
    background-color: burlywood;
    font-size: x-large;
    text-align: center;
}

.a-no-underline {
    text-decoration: none;
    color: black;
}