@model ASP.NET_Classwork.Data.Entities.ProductGroup

<div class="product-card">
    <img src="/Home/DownloadProduct/@Model.Image" class="product-img" />
    <div class="product-text">
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>
    </div>
    <div class="product-cart">
        <button type="submit">Подивитись</button>
    </div>
</div>